body {
  margin: 0;
  background: #1c1c1c;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 550px;
  height: 550px;
  background: #1f2937;
}
h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  margin-top: 115px;
  margin-left: 52px;
  margin-right: 144px;
}

span {
  color: #4adf86;
}

#info {
  margin-left: 52px;
}

label {
  margin-left: 52px;
}

button {
  margin-left: 52px;
  margin-top: 30px;
  width: 191px;
  height: 42px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

hr {
  margin: 35px 52px;
  border: 1px solid #2f3e53;
}

.result {
  width: 180px;
  height: 32px;
  line-height: 32px;
  background: #273549;
  border-radius: 6px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #55f991;
  padding: 4px 16px;
}

#passwords {
  display: flex;
  justify-content: space-evenly;
}
